.woman.mrp8.pull-left data-id=@user1.id 
  = image_tag @user1.user_photo.photo.url(:large), class:'woman-image', size:'345x345' 
.woman.pull-left data-id=@user2.id 
  = image_tag @user2.user_photo.photo.url(:large), class:'woman-image', size:'345x345'
