.woman.mrp8.pull-left data-id=@stay_user.id 
  = image_tag @stay_user.user_photo.photo.url(:large), class:'woman-image', size:'345x345' 
.woman.pull-left data-id=@new_user.id 
  = image_tag @new_user.user_photo.photo.url(:large), class:'woman-image', size:'345x345'
