/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

// variable
$border_color: #d95e5e;
$logo_font: 'Montaga', serif;

// mixin
@mixin mb($margin:40) {margin-bottom: $margin + px;}
@mixin ml($margin:40) {margin-left: $margin + px;}
@mixin mr($margin:40) {margin-right: $margin + px;}
@mixin mt($margin:40) {margin-top: $margin + px;}
@mixin mlp($margin:10%) {margin-left: $margin;}
@mixin mrp($margin:10%) {margin-right: $margin;}

// parts
.mb20 {@include mb(20);}
.mb40 {@include mb();}
.mb80 {@include mb(80);}
.mb120 {@include mb(120);}
.mt20 {@include mt(20);}
.mt40 {@include mt();}
.mt80 {@include mt(80);}
.mt100 {@include mt(100);}
.mt120 {@include mt(120);}
.mrp4 {@include mrp(4%);}
.mrp6 {@include mrp(6%);}
.mrp8 {@include mrp(8%);}
.mrp10 {@include mrp();}

// selectors
header {
  border-bottom: 1px solid $border_color;
  padding: 10px 20px;
}
#logo {
  font: {
    family: $logo_font;
    size: 1.8em;
  }
}
footer {
  padding: 10px 0;
}
#copyright {
  text-align: center;
}
