/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "twitter/bootstrap";

// variable
$border_color: #d95e5e;
$logo_font: 'Montaga', serif;

// mixin
@mixin mb($margin:40) {margin-bottom: $margin + px;}
@mixin mt($margin:40) {margin-top: $margin + px;}

// parts
.mb20 {@include mb(20);}
.mb40 {@include mb();}
.mt40 {@include mt();}

// selectors
header {
  border-bottom: 1px solid $border_color;
  padding: 10px 20px;
}
#logo {
  font: {
    family: $logo_font;
    size: 1.8em;
  }
}
footer {
  padding: 10px 0;
}
#copyright {
  text-align: center;
}
