/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require scaffolds
 */

@import "twitter/bootstrap";

// variable
$border_color: #d95e5e;
$logo_font: 'Montaga', serif;

// mixin
@mixin mb($margin:40px) {margin-bottom: $margin !important;}
@mixin ml($margin:40px) {margin-left: $margin !important;}
@mixin mr($margin:40px) {margin-right: $margin !important;}
@mixin mt($margin:40px) {margin-top: $margin !important;}

// parts
.mb20 {@include mb(20px);}
.mb40 {@include mb();}
.mb80 {@include mb(80px);}
.mb120 {@include mb(120px);}
.mt10 {@include mt(10px);}
.mt20 {@include mt(20px);}
.mt40 {@include mt();}
.mt80 {@include mt(80px);}
.mt100 {@include mt(100px);}
.mt120 {@include mt(120px);}
.mrp4 {@include mr(4%);}
.mrp6 {@include mr(6%);}
.mrp8 {@include mr(8%);}
.mrp10 {@include mr(10%);}

// selectors
#wrap {
  min-height: 100%;
  position: relative;
  width: 100%;
}
header {
  border-bottom: 1px solid $border_color;
  padding: 10px 20px;
}
#logo {
  float: left;
  font: {
    family: $logo_font;
    size: 1.8em;
  }
  margin: 5px 40px 0 0;
}
.nav > li > a {
  color: #fff;
  padding: 5px 15px;
  &:hover {
    color: #555;
  }
}
.container {
  padding-bottom: 62px;
}
footer {
  bottom: 0;
  padding: 10px 0;
  position: absolute;
  width: 100%;
}
#copyright {
  text-align: center;
}
