.woman {
  position: relative;
  width: 46%;
  &:hover {
    cursor: pointer;
    .woman-is-good {
      opacity: 1;
    }
  }
}
.woman-image {
  width: 100%;
}
.woman-is-good {
  background-color: rgba(0,0,0,.5);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.woman-is-good-icon {
  font-size: 150px;
  margin-top: -90px;
  top: 50%;
}
