body {
  background: url(/assets/top_background.jpg) no-repeat top;
  background-size: cover;
}
header {
  border-bottom: none;
}
p {
  font-size: 16px;
}
#info_mask {
  overflow: hidden;
  width: 100%;
}
#info_group {
  margin-left: -100%;
  width: 300%;
}
.info {
  float: left;
  padding: 0 0 0 20px;
  width: 33.3%;
}
.facebook-login {
  float: left;
  font: {
    size: 2.2em;
  }
  margin-top: 64px;
  padding-left: 15px;
}
.facebook-login-button a {
  background: url(/assets/sprite.png) no-repeat 0 0;
  display: inline-block;
  height: 0;
  margin: 0 0 0 20px;
  overflow: hidden;
  padding: 150px 0 0 0;
  width: 196px;
  &:hover {
    background-position: -196px 0;
  }
}
